<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSMicrophoneUsageDescription</key>
	<string>We need access to your microphone to allow you to record custom sounds for your AAC icons.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>We need access to your photo library to allow you to select images for your AAC icons.</string>
	<key>NSCameraUsageDescription</key>
	<string>We need access to your camera to allow you to take photos for your AAC icons.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>We need permission to save photos to your library.</string>
</dict>
</plist>
